.container-vcard {
    background-color: #f2f2f2;
    width: 420px;
    height: 192px;
    float: left;
    margin-right: 12px;
    border-radius: 5px;
}

.container-vcard #contactslinks {
   float: left;
   margin-left: 0px;
   margin-top: 0px;
}

.container-vcard h3 {
    padding-top: 12px;
    margin-bottom: 0px;
    margin-top: 0px;
}

.container-vcard a {
    color: #222;
    letter-spacing: 0px;
    font-weight: 400;
    font-size: 13px;
    line-height: 1.5em;
    text-decoration: none;
    padding-left: 0em;
    display: block;
    margin-bottom: 0.1em;
    margin-right: 0px;
    padding-right: 0px;
}

.container-vcard img {
    float: left;
    width: 225px;
    margin: 12px;
}

#contactslinks {
    float: left;
    margin-left: 32px;
    font-family: "PT Sans", Helvetica, Arial, sans-serif;
}

#contactslinks a:link {
    display: block;
}

.sidebar {
    opacity: 1.0;
}

.sidebar:hover {
    opacity: 1.0;
}

.sidebar-logo {
    padding: 1.5rem;
}

.sidebar-logo img {
    border-radius: 50%;
    -moz-border-radius: 50%;
    -webkit-border-radius: 50%;
    width: 160px;
    margin: 0 auto;
}
