
<div id="contactslinks">
  {% if site.author.github %}
  <a href="https://github.com/{{ site.author.github }}">
    <i class="fa fa-github-alt fa-2"></i>
    {{ site.author.github }}
  </a>
  {% endif %}

  {% if site.author.email %}
  <a href="mailto: {{ site.author.email }}">
    <i class="fa fa-envelope-o fa-2"></i>
    {{ site.author.email }}
  </a>
  {% endif %}

  {% if site.author.slideshare %}
  <a href="{{ site.author.slideshare }}">
    <i class="fa fa-laptop fa-2"></i>
    SlideShare
  </a>
  {% endif %}

  {% if site.author.facebook %}
  <a href="{{ site.author.facebook }}">
    <i class="fa fa-facebook-official fa-2"></i>
    facebook
  </a>
  {% endif %}

  {% if site.author.vk %}
  <a href="{{ site.author.vk }}">
    <i class="fa fa-vk fa-2"></i>
    vk
  </a>
  {% endif %}

  {% if site.author.skype %}
  <a href="tell: {{ site.author.skype }}">
    <i class="fa fa-skype fa-2"></i>
    {{ site.author.skype }}
  </a>
  {% endif %}

  {% if site.rss %}
  <a href="{{ site.baseurl }}/atom.xml">
    <i class="fa fa-rss fa-2"></i>
</span>
</a>
{% endif %}

</div>
